.navbar {
	display: flex;
}

.navigation {
	display: flex;

	justify-content: space-between;
}

.nav-item {
	display: flex;
	align-items: center;
	align-content: center;
}

.nav-item:not(:last-child) {
	margin-right: 50px;
}

.nav-link {
	position: relative;
	padding: 32px 0;
	display: flex;
	justify-content: flex-start;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: currentColor;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.current {
	color: $accent-color-link;
}

.nav-link::after {
	content: "";
	width: 0;
	height: 4px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 2px;
	background: $accent-color-link;
	transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after {
	width: 100%;
	left: 0;
}

.current::after {
	content: "";
	background-color: $accent-color-link;
	height: 4px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* Top-links */
.address-links {
	display: flex;
	margin-left: auto;
}

.address-top {
	display: flex;
}

.link-top-item {
	display: flex;
}

.link-top-item:not(:last-child) {
	margin-right: 50px;
}

.icon-address {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	fill: $links-color-header;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-top {
	display: flex;
	flex-direction: flex-end;
}

.link-top {
	display: flex;
	padding: 32px 0;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	color: $links-color-header;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-top:hover,
.link-top:focus {
	color: $accent-color-link;
}

.link-top:hover .icon-address,
.link-top:focus .icon-address {
	fill: $accent-color-link;
}